<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/ramen_map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
    <script src="static/ramen_map.js" defer></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <title>Ramen_map</title>
</head>
<body>
    <div id="main" data-show="ranking">
        <div id="search-wrapper">検索</div>
        <div id="ranking">ランキング</div>
        <div id="shop-info">
            <img src="" alt="ロゴ" id="shop-logo-image">
            <div id="shop-name-kana"></div>
            <div id="shop-name"></div>
            <div id="shop-open"></div>
            <div id="shop-close"></div>
            <div id="shop-review"></div>
        </div>
        <div id="map" />
    </div>
</body>
</html>
