<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レビュー追加</title>
    <link rel="stylesheet" href="../static/review_add.css" type="text/css">
    <link rel="stylesheet" href="../static/review_add2.css" type="text/css">
    <!-- メッセージ表示用のCSSを定義 -->
    <style>
        #message-container,
        #error-container {
            padding: 1rem;
            border: 1px solid #e9ecef;
            border-left-width: 0.25rem;
            border-left-color: #5bc0de;
            border-radius: 0.25rem;
        }
        #error-container {
            color: #dc3545;
        }
    </style>
    <script defer src="{{ url_for('static', filename='review_menyu-.js') }}"></script>
    <script defer src="{{ url_for('static', filename='ramen_review_add2.js') }}"></script>
</head>
<body>
    <section>
        <div id="warapper">
            <header>
                <div class="container">
                    <div class="title-block">
                        <h1>レビュー追加</h1>
                    </div>
                    <div class="hamburger" id="open_nav">
                        <img src="{{ url_for('static', filename='hamburger.png') }}" alt="gu">
                    </div>
                </div>
            </header>
            <main>
                <section>
                    <h2 id="write_name">ニックネーム:</h2>
                    <h2 id="rate">総合評価:</h2>
                    <h2 id="score">点</h2>
                    <h2 id="review">レビューを追加</h2>
                    <h2 id="first-line"></h2>
                    <h2 id="second-line"></h2>
                    <form id="add">
                        <div>
                            <input required type="text" id="add-write_name" placeholder="ニックネーム" name="rn">
                            <input required type="text" id="add-review_points" placeholder="0~100" name="rp">
                            <input required type="text" id="add-review" placeholder="感想や満足したポイント / 不満だったポイントなど" name="re">
                            <button id="add-submit">投稿</button>
                        </div>
                    </form>
                    <!-- メッセージの表示領域  -->
                    <div id="message-container" role="alert" style="display: none;"></div>
                    <div id="error-container" role="alert" style="display: none;"></div>
                </section>
            </main>
        </div>
    </section>
    <nav id="nav">
        <h1>メニュー</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/review">前のページに戻る</a>
            </li>
            <li>
                <a href="#">使い方</a>
            </li>
        </ul>
    </nav>
    <footer></footer>
</body>
</html>