<!DOCTYPE html>
<!-- <html lang="ja"> -->
<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>レビュー画面</title>
    <link rel="stylesheet" href="../static/review_add.css" type="text/css">
    <!-- new.css -->
    <!-- <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"> -->
    <!-- メッセージ表示用のCSSを定義 -->
    <style>
        #message-container,
        #error-container {
            padding: 1rem;
            border: 1px solid #e9ecef;
            border-left-width: 0.25rem;
            border-left-color: #5bc0de;
            border-radius: 0.25rem;
        }
        #error-container {
            color: #dc3545;
        }
    </style>
<script defer src="{{ url_for('static', filename='review_menyu-.js') }}"></script>
<script defer src="{{ url_for('static', filename='ramen_review_add.js') }}"></script>
</head>
<body>
    <section>
        <div id="wrapper">
            <header>
                <div class="container">
                    <div class="title-block">
                        <h1>〇〇屋レビュー</h1>
                    </div>
                    <div class="hamburger" id="open_nav">
                        <img src="{{ url_for('static', filename='hamburger.png') }}" alt="gu">
                    </div>
                </div>
            </header>
            <main>
                <section>
                    <h3>現在の評価</h3>
                        <div id="review_average"></div>
                        <tbody></tbody>    
                </section>
                <section>
                    <div class="wrap">
                        <form role="search" method="get" action="search">
                            <div>
                                <h3>ニックネーム</h3>
                                <input type="text" id="search-write_name" placeholder="" name="rn">
                                <h3>評価点</h3>
                                <input type="text" id="search-review_points" placeholder="" name="rp">
                                <!-- <input type="text" id="search-review" placeholder="内容" name="re"> -->
                                <button id="search-submit">Search</button>
                            </div>
                        </form>
                    </div>
                </section>
                <section>
                    <table id="review-list">
                        <thead>
                            <tr>
                                <th scope="col">名前</th>
                                <th scope="col">評価点</th>
                                <th scope="col">レビュー内容</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
                <li><a href="/review/review_add">レビュー追加</a></li>
                <section>
                    <h3>近くにあるお店</h3>
                </section>
            </main>
        </div>
    </section>
    <nav id="nav">
        <h1>メニュー</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">使い方</a>
            </li>
        </ul>
    </nav>
    <footer></footer>
</body>
</html>



